[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
matplotlib = "*"
mind-the-gap = "*"
pandas = "*"
seaborn = "*"
twython = "*"

[dev-packages]
pytest = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.8"
